/*Fonts*/
@font-face {
    font-family: Karla;
    src: url('https://fonts.googleapis.com/css?family=Karla');
}

@font-face {
    font-family: Markazi;
    src: url('https://fonts.googleapis.com/css2?family=Markazi+Text');
}

.displayTitle {
  font-family: 'Markazi';
  font-size: 64pt;
  font-weight: 500;
  margin: 0px;
}

.subTitle {
  font-family: 'Markazi';
  font-size: 40pt;
  font-weight: 400;
  margin: 0px;
}

.cardTitle {
  font-family: 'Markazi';
  font-size: 18pt;
  font-weight: 700;
  color: #000;
}

.leadText {
  font-family: 'karla';
  font-size: 18pt;
  font-weight: 500;
}

.sectionTitle {
  font-family: Karla;
  font-size: 20pt;
  font-weight: 800;
}

.highlightText{
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 500;
}

.testimonialHeaderText{
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: 700;
  color: #000;
}

.testimonialText{
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: 400;
  color: #495E57;
  max-width: 65ch;
}

/* Mobile layout*/
@media (min-width: 180px) {
  .App {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .displayTitle {
    font-size: 48pt;
  }

  .subTitle {
    font-size: 36pt;
  }

  /* Header and NavBar */
  header{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .navBar{
    width: 100%;
    padding: 0;
  }

  .navBar li {
    margin-right: 1em;
  }

  /* Hero section */
  .hero {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
  }

  .heroText {
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: repeat(2,auto);
  }

  .heroBtnContainer {
    margin-top: 1em;
    grid-row: 2;
  }

  .heroImg {
    display: none;
  }

  /* Highlights section */
  .highlights {
    display: grid;
    grid-template-rows: repeat(3,auto);
  }

  .highlightHeader {
    grid-row: 1;
  }

  .buttonContainerRight {
    margin-top: 2em;
    grid-row: 2;
  }

  .highlightCards {
    display: flex;
    flex-direction: column;
    grid-row: 3;
    margin-top: 4em;
  }

  .card {
    background-color: #EDEFEE;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: grid;
    grid-template-rows: repeat(2,auto);
    row-gap: 1em;
    margin-bottom: 1em;
  }

  /* Testimonial section*/
  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 0;
  }

  .testimonialsHeader {
    margin-bottom: 1em;
  }

  .testimonialCards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 1em;
    column-gap: 1em;
  }

  /* About section */
  .about {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    margin-bottom: 2em;
  }

  .about .aboutLeft {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    justify-content: space-between;
  }

  .about .aboutRight {
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    list-style-type: none;
    height: 0;
    min-height: 100%;
  }

  .aboutFront {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    z-index: 2;
  }

  .aboutBack {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    z-index: 1;
  }

  .about img {
    width: 100%;
    height: 100%;
  }

  /* Footer section */
  .footerImg {
    display: none;
  }

  .footerNav {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    column-gap: 1em;
  }

  .footerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footerSection h3 {
    margin: 0;
    padding-bottom: 0;
  }
  .footerNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding-left: 0;
    padding-top: 0;
  }
  .footerNavBar li {
    display: inline-block;
    text-align: center;
    margin: 0;
  }

  .doormatTop {
    margin-bottom: 0;
  }
  .doormatBottom {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* Desktop layout */
@media (min-width: 1024px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  /* Header and NavBar */
  header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 1em;
    margin-top: 1em;
  }

  header #logo {
    grid-column: 3 / span 2;
    width: 100%;
  }

  nav {
    grid-column: 5 / span 6;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Karla;
    font-size: 20pt;
    font-weight: 800;
  }

  /* Hero section */
  .hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 1em;
    margin-bottom: 5em;
  }

  .hero .heroText {
    grid-column: 3 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1em;
  }
  .hero .heroImg {
    grid-column: 7 / span 4;
  }

  .heroImgFile {
    width: 100%;
  }

  /* Highlights section */
  .highlights {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 1em;
    row-gap: 2em;
    margin-bottom: 2em;
  }

  .highlightHeader {
    grid-column: 3 / span 8;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .highlightCards {
    grid-row: 2;
    grid-column: 3 / span 8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
  }

  /* Testimonial section*/
  .testimonials {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
  }

  .testimonialsHeader {
    grid-row: 2;
    grid-column: 6 / span 2;
  }

  .testimonialCards {
    grid-row: 3;
    grid-column: 3 / span 8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* About section */
  .about {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 1em;
    margin-bottom: 2em;
  }

  .about .aboutLeft {
    grid-column: 3 / span 4;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    justify-content: space-between;
  }

  .about .aboutRight {
    grid-column: 7 / span 4;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 2fr;
    list-style-type: none;
    height: 0;
    min-height: 100%;
  }

  .aboutFront {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    z-index: 2;
  }

  .aboutBack {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    z-index: 1;
  }

  .about img {
    width: 100%;
    height: 100%;
  }

  /* Footer section */
  footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 1em;
  }

  .footerImg {
    grid-column: 3 / span 2;
  }

  .footerNav {
    grid-column: 5 / span 6;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1em;
  }

  .footerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
  }
  .footerNavBar {
    padding-left: 0;
  }

  .footerNav li {
    display: block;
    list-style-type: none;
  }

  .doormatTop {
    margin-bottom: 0;
  }
  .doormatBottom {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.button {
  color: #fff;
  background-color: #000;
  padding: 1em 2em;
  border-radius: 5px;
}

.navBar li {
  list-style-type: none;
  display: inline-block;
}


/* Highlight cards */
.card {
  background-color: #EDEFEE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: grid;
  grid-template-rows: repeat(2,auto);
  row-gap: 1em;
}

.cardImgContainer img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.cardBody {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}

.cardBody .cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.cardPrice {
  color: #EE9972;
}

/*Testimonial cards */
.testimonial {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1em;
}

.testimonialMain {
  display: flex;
  flex-direction: row;
  align-items: center;
}